@tailwind base;

@custom-variant dark (&:is(.dark *));
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 51 78% 98%;
    --foreground: 0 0% 0%;
    --card: var(--primary);
    --card-foreground: var(--primary-foreground );
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --secondary: 197 100% 10%;
    --secondary-foreground: 0 0% 100%;
    --primary: 197 74% 64%;
    --primary-foreground: 0 0% 0%;
    --muted: 0 0% 84%;
    --muted-foreground: 0 0% 45.1%;
    --destructive: 0 100% 33%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 81%;
    --input: 0 0% 0%;
    --ring: 0 0% 3.9%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 215 91% 9%;
    --foreground: 206 31% 90%;
    --card: var(--primary);
    --card-foreground: var(--primary-foreground);
    --popover: 0 0% 0%;
    --popover-foreground: 0 0% 98%;
    --primary: 212 82% 20%;
    --primary-foreground: 0 0% 100%;
    --secondary: 37 57% 57%;
    --secondary-foreground: 0 0% 0%;
    --muted: 37 39% 26%;
    --muted-foreground: 0 0% 75%;
    /* --accent: 0 0% 14.9%; */
    /* --accent-foreground: 0 0% 98%; */
    --destructive: 0 90% 41%;
    --destructive-foreground: 0 0% 0%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

:root {
  --sidebar: hsl(0 0% 98%);
  --sidebar-foreground: hsl(240 5.3% 26.1%);
  --sidebar-primary: hsl(240 5.9% 10%);
  --sidebar-primary-foreground: hsl(0 0% 98%);
  --sidebar-accent: hsl(240 4.8% 95.9%);
  --sidebar-accent-foreground: hsl(240 5.9% 10%);
  --sidebar-border: hsl(220 13% 91%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

.dark {
  --sidebar: hsl(240 5.9% 10%);
  --sidebar-foreground: hsl(240 4.8% 95.9%);
  --sidebar-primary: hsl(224.3 76.3% 48%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(240 3.7% 15.9%);
  --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
  --sidebar-border: hsl(240 3.7% 15.9%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

@theme inline {
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
